<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <% if(weather!==null){ %>
    <p><%= weather%></p>
  <%}
  if(error!==null){%>
    <p><%= error%></p>
  <% }%>
  <fieldset><p><a href='/'>Serach for another city</a></p></fieldset>
  </body>
</html>
